{% extends "base.html" %}

{% block content %}

<h1>Channel List</h1>
<h2> Total {{ ytchannels | length }} channels</h2>

<table border="1">
  <tr>
    <th>seq</th>
    <th>nome</th>
    <th>link alt</th>
    <th>inscritos</th>
    <th>nº víd</th>
    <th>dias</th>
    <th>víd/dia</th>
    <th>interval</th>
    <th>último</th>
  </tr>

  {% for ytchannel in ytchannels %}
  <tr style="color:orange;">
    <td style="text-align:center;">{{ loop.index }}</td>
    <td>
      <a href="/channel/{{ ytchannel.ytchannelid }}">{{ ytchannel.nname }}</a>
    </td>
    <td style="text-align:center;">
      <a href="/channel/{{ ytchannel.ytchannelid }}/videos">=></a>
    </td>
    <td>
      {% if ytchannel.current_subscribers_n > 0 %}
      <a href="/channel/{{ ytchannel.ytchannelid }}/subscribers">{{ ytchannel.current_subscribers_n }}</a>
      {% else %}
        ---
      {% endif %}
    </td>
    <td>
      {{ ytchannel.vinfolist.count() }}
    </td>
    <td>
      {{ ytchannel.ndays_first_current }}
    </td>
    <td>
      {{ "%.2f"|format(ytchannel.videos_per_day) }}
    </td>
    <td>
      {{ ytchannel.each_n_days_for_dld }}
    </td>
    <td>
      {% if ytchannel.most_recent_video %}
        {{ ytchannel.most_recent_video.publishdate }}
      {% else %}
        ---
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>

{% endblock %}