{% extends "base.html" %}

{% block content %}

<h1>Channel List</h1>
<h2> Total {{ ytchannels | list | length }} channels</h2>

<table border="1">
  <tr>
    <th>seq</th>
    <th>nome</th>
    <th>link alt</th>
    <th>inscritos</th>
    <th>nº vídeos</th>
  </tr>

  {% for ytchannel in ytchannels %}
  <tr style="color:orange;">
    <td style="text-align:center;">{{ loop.index }}</td>
    <td>
      <a href="/channel/{{ ytchannel.ytchannelid }}">{{ ytchannel.nname }}</a>
    </td>
    <td style="text-align:center;">
      <a href="/channel/{{ ytchannel.ytchannelid }}/videos">=></a>
    </td>
    <td>
      {% if ytchannel.current_subscribers_n > 0 %}
        {{ ytchannel.current_subscribers_n }}
      {% else %}
        ---
      {% endif %}
    </td>
    <td>
      {% if ytchannel.vinfolist %}
        {{ ytchannel.vinfolist | list | length }}
      {% else %}
        ---
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>

{% endblock %}