{% extends "base.html" %}

{% block content %}
  <h1>Channel Summary</h1>
  <h1 style="color:red;">{{ ytchannel.nname }}</h1>
  <hr>

  <table border="2">
    <tr>
      <th>nº vídeos</th>
      <th>dias disp</th>
      <th>nº inscritos últ</th>
      <th>data últ</th>
      <th>nº inscritos pri</th>
      <th>data pri</th>
      <th>delta inscr</th>
    </tr>
    <tr style="text-align:center;">
      <td>{{ ytchannel.vinfolist.count() }}</td>
      <td>{{ ytchannel.daily_subscribers.count() }}</td>
      {% if ytchannel.daily_subscribers.count() > 0 %}
        <td>{{ ytchannel.current_subscribers_n }}</td>
        <td>{{ ytchannel.current_subscribers.infodate }}</td>
        <td>{{ ytchannel.first_subscribers_n }}</td>
        <td>{{ ytchannel.first_subscribers.infodate }}</td>
        <td>{{ ytchannel.current_subscribers_n - ytchannel.first_subscribers_n }}</td>
      {% else %}
        <td>not known</td>
        <td>unavailable</td>
        <td>not known</td>
        <td>unavailable</td>
        <td>not known</td>
      {% endif %}
    </tr>
  </table>

  {% for vinfo in vinfolist %}
    <p style="color:orange;">{{ loop.index }} => <a href="{{ vinfo.ytvideo_url }}">{{ vinfo.title }}</a> <br>
      {{ vinfo.duration_in_hms }} | {{ vinfo.ytvideoid }} | {{ '{:%Y-%m-%d %H:%M}'.format(vinfo.publishdatetime) }} | {{ vinfo.infodate }} {{ '{:%H:%M}'.format(vinfo.infotime) }} | há {{ vinfo.published_time_ago }}</p>
      <table border="1">
        <tr>
          <th>seq</th>
          <th>date time</th>
          <th>views</th>
          <th>diff</th>
        </tr>
        {%- set previous_dict = {'previous': 0} -%}
        {% for vview in vinfo.vviewlist %}
          <tr style="color:orange;">
            <td>{{ loop.index }}</td>
            <td>{{ vview.infodate }} {{ '{:%H:%M}'.format(vview.infotime) }}</td>
            <td>{{ vview.views }}</td>
            {% if loop.first %}
              <td>---</td>
            {% else %}
              <td>{{ previous_dict.previous - vview.views }}</td>
            {% endif %}
          </tr>
          {% if previous_dict.update({'previous': vview.views}) %}
          {% endif %}
        {% endfor %}
      </table>
  {% endfor %}

  <p>ytvideosid</p>

  {% for vinfo in ytchannel.vinfolist %}
    {{ vinfo.ytvideoid }} <br>
  {% endfor %}

  {% if ytchannel.first_subscribers %}
    <p>Total vídeos: {{ ytchannel.vinfolist.count() }} since {{ ytchannel.first_subscribers.infodate }} videos per day = {{ "%.2f"|format(ytchannel.videos_per_day) }}</p>
  {% endif %}
  <p>Today: {{ jinjatoday }}</p>
  <h3>Channel Summary</h3>

{% endblock %}

